@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

.Menu {
    width: 300px;
    height: 100vh;
    background-color: lightblue;
    font-family: 'Nunito', sans-serif;
}

.logo {
    width: 300px;
    height: 90px;
}

.sectionHeader {
    margin: 40px 0 0 3.3%;
}

.blueResult {
    display: inline-block;
    width: 45%;
    padding: 40px 0;
    margin-top: 10px;
    margin-left: 3.3%;
    background-color: #0d47a1;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}

.redResult {
    @extend .blueResult;
    background-color: #b71c1c;
}

.blueTilesLeft {
    @extend .blueResult;
    background-color: white;
    color: #0d47a1;
    border: 3px solid #0d47a1;
    margin-left: calc(3.3% - 4.5px);
    padding: 20px 0;
}

.redTilesLeft {
    @extend .blueTilesLeft;
    color: #b71c1c;
    border: 3px solid #b71c1c;
}

.gameStatusInfo {
    color: #0d47a1;
    text-align: center;
}
