.Menu {
    width: 300px;
    height: 100vh;
    background-color: #90caf9;
}

.logo {
    width: 300px;
    height: 90px;
}

.sectionHeader {
    margin: 40px 0 0 3.3%;
}

.blueResult {
    display: inline-block;
    width: 45%;
    padding: 8px 0;
    margin-top: 10px;
    margin-left: 3.3%;
    background-color: #0d47a1;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.redResult {
    @extend .blueResult;
    background-color: #b71c1c;
}

.playerName {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.teamResult {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
}

.blueTilesLeft {
    @extend .blueResult;
    background-color: white;
    color: #0d47a1;
    border: 3px solid #0d47a1;
    margin-left: calc(3.3% - 4.5px);
    padding: 20px 0;
}

.redTilesLeft {
    @extend .blueTilesLeft;
    color: #b71c1c;
    border: 3px solid #b71c1c;
}

.gameStatusInfoBlue {
    color: #0d47a1;
    text-align: center;
    border: 2px solid #0d47a1;
    border-radius: 4px;
    margin: 0 5px;
}

.gameStatusInfoRed {
    @extend .gameStatusInfoBlue;
    color: #b71c1c;
    border: 2px solid #b71c1c;
}

.buttonBar {
    text-align: center;
}
