.wrapper {
    margin-top: 5vh;
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 10vh;
}

.tiles {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bluePanel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    min-width: 220px;
    margin: 10px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #1e88e5; //blue[600]
}

.redPanel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    min-width: 220px;
    margin: 10px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #e53935; //red[600]
}

.p {
    font-size: 22px;
}

.input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
    margin-right: 5px;
    text-align: center;
}

.BlueButton, .RedButton{
    margin-top: 10px !important;
}

.bold {
    font-weight: 600;
}
